cssselect==1.1.0
dbus-python==1.2.16
liveusb-creator==3.14.2
lxml==4.6.2
plone.rfc822==2.0.2
pyparted==3.11.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyquery==1.4.3
python-dateutil==2.8.1
six==1.15.0
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.2.0
zope.proxy==4.3.5
zope.schema==6.0.0
